.view-category-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    color: #fff;
}

.navbar-icon {
    height: 50px;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-left ul li {
    margin-right: 20px;
}

.navbar-left ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar-right button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.bk {
    color: black;
    padding-left: 700px;
    /* padding: 1px 0px 0px 680px; */
    /* margin-top: 0px;
    margin-left: 680px; */
}

.table-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fruits-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

.fruits-table th,
.fruits-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.fruits-table th {
    background-color: #333;
    text-align: center;
    color: white;
}

.fruits-table td {
    text-align: center;
    background-color: whitesmoke;
}

.add-fruit-form {
    margin-top: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-fruit-form .form-group {
    margin-bottom: 15px;
    width: 100%;
}

.add-fruit-form label {
    margin-right: 10px;
}

.add-fruit-form input {
    padding: 8px;
    width: calc(100% - 20px);
}

.add-fruit-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.add-fruit-form button:hover {
    background-color: #45a049;
}